@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.bg-body::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('/src/assets/back\ image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; 
  z-index: -1;
  background-color: aquamarine;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-20px); }
  50% { transform: translateX(20px); }
  75% { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}

.moving {
 display: block;
  max-width: 100%;
  width: 35rem;
  height: 25rem;
  object-fit: cover;
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;
  animation: shake 0.5s ease-in-out infinite;
}
.stop-moving {
  display: block;
  max-width: 100%;
  width: 35rem;
  height: 25rem;
  object-fit: cover;
  /* border: 2px solid red; */
  margin: 0;
  padding: 0;
}

.image-wrapper {
  width: 100%;
  height: 30%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.4rem;
  border-top: 2px solid rgb(13, 10, 142);
  border-bottom: 2px solid rgb(13, 10, 142);
  background-color:  rgb(34 0 255 / 20%);
}

@keyframes shake-vertical {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-5px); }
  50%  { transform: translateY(5px); }
  75%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.shaked-vertical {
  display: inline-block;
  animation: shake-vertical 0.5s ease-in-out infinite;
  animation-delay: 5s;
}

.main-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-head{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Permanent Marker", cursive;
}
.btns{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  background-color: rgb(222, 184, 135,20%);
}
.controls{
  width: 100%;
  /* margin-top: -2rem; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-content: center; */
  align-items: center;
  gap: 1.7rem;
}
.main-btns{
  /* margin-top: -2rem; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.game-btns{
  width: inherit;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.choose{
  font-size: 2.5rem;
  color: #f75553;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
  font-style: normal;
}
.common-btns{
  font-size: 1.3rem;
  padding: 6px 10px;
  font-weight: 500;
  background-color: #f75553;
  border: 1px solid #6a6ffd;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  z-index: 10;
  transition: all 0.7s ease-in-out;
}
.common-btns:hover{

  background-color: #6a6ffd;
  border: 1px solid #f75553;

}
#rock{
  color: #f75553;
}
#paper{
  color: #6a6ffd;
}
#scissor{
  color: #40b1f8;

}
.img-hide{
  display: none;
}
.btn-hide{
  display: none;
}